*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(218, 28%, 13%);
    font-family: 'Open Sans', sans-serif;
}

.headings{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.nav{
    background-color: hsl(217, 28%, 15%);
}

.navContent{
    display: flex;
    flex-direction: row;
    padding: 5%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    gap: 15%;
}

#logo1{
    width: 55%;
    height: 80%;
}

.navlinks, a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
    margin-left: -3%;
    margin-right: 0%;
    padding-right: 0%;
    gap: 4%;
}

.img1{
    margin-top: 15%;
    width: 80%;
    height: 80%;
    padding-left: 15%;
    margin-bottom: -15%;
}

.img2{
    object-fit: cover;
    margin-bottom: -5%;
    width: 100%;
}

.heading{
    background-image: url(../images/bg-curvy-mobile.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    padding-top: 20%;
    font-size: 1.6rem;
    color: #fff;
    text-align: center;
    font-weight: none;
    margin-bottom: 5%;
    font-family: 'Raleway', sans-serif;
    padding-left: 7%;
    padding-right: 7%;
}

p{
    color: #fff;
    text-align: center;
    font-weight: 0;
    padding-left: 9.5%;
    padding-right: 9.5%;
    margin-bottom: 10%;
    font-size: 0.9rem;
    font-weight: none;
}

.getStarted{
    color: #fff;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    text-align: center;
    margin-left: 22%;
    width: 60%;
    padding: 4% 0;
    border-radius: 70px;
    font-weight: 500;
    margin-bottom: 30%;
}

.middle1, .middle2, .middle3, .middle4{
   margin-bottom: 30%;
}

.img3, .img4, .img5{
   margin-left: 40%; 
   margin-bottom: 5%;
}

h2{
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-bottom: 4%;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
} 

.img6{
    width: 90%;
    object-fit: contain;
    margin-left: 5%;
    margin-bottom: 5%;
}

.align{
    text-align: left;
    padding-left: 7.5%;
    padding-right: 7.5%;
}

#diffh2{
    font-size: 1.35rem;
}

#diffp{
    margin-bottom: 3%;
}

.workings{
    display: flex;
    flex-direction: row;
    margin-left: -2%;
    margin-top: -2%;
}

#spep{
    color: hsl(176, 68%, 64%);
}

#img7{
    width: 5%;
    height: 5%;
    margin-left: -8%;
    margin-top: 0%;
}

#line{
    width: 40%;
    height: 2px;
    background-color: hsl(176, 68%, 64%);
    margin: -8% 0 0 7.5%;
}

.arrow{
    margin-bottom: 50%;
}

.spep{
    display: flex;
    flex-direction: row;
}

#img8{
    width: 7%;
    height: 7%;
    margin-left: 10%; 
}

.quotewrapper{
    display: flex;
    flex-direction: column;
}

.quote1, .quote2, .quote3{
    background-color: hsl(219, 30%, 18%);
    border-radius: 5px;
    width: 80%;
    /* height: 185px; */
    margin: -1% 0% 5% 10%;
    padding-bottom: 5%;
    padding-top: 2%;
}

#quotep{
    color: #fff;
    font-size: 0.7rem;
    padding: 7% 9%;
    font-weight: none;
}

.compact1{
    display: flex;
    flex-direction: row;
    padding: 0 6%;
    gap: 5%;
}

#compact1{
    width: 13%;
    height: 13%;
    border-radius: 50px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    margin-top: -1%;
}

h5{
    color: #fff;
    font-size: 0.7rem;
    font-weight: 400;
    margin-bottom: 4%;
}

.p_wrap{
    font-size: 0.6rem;
    padding: 0;
    font-weight: 0;
}

.quote3{
    margin-bottom: 40%;
}

.signup{
    float: inline-start;
    clear: both;
    background-color: hsl(219, 30%, 18%);
    border-radius: 10px;
    margin: 0 5% -50% 5%;
}

h3{
    color: #fff;
    text-align: center;
    font-weight: 400;
    margin-bottom: 4%;
    margin-top: 10%;
    font-family: 'Raleway', sans-serif;
}  

#distin{
    color: #fff;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 10%;
    font-size: 0.8rem;
    font-weight: none;
}

.freeReg{
    color: #fff;
    background-image: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    text-align: center;
    margin-left: 8%;
    width: 82%;
    padding: 5% 0;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 10%;
}

.freeReg1{
    background-color: #fff;
    text-align: left;
    margin-left: 8%;
    width: 82%;
    height: 40px;
    border-radius: 50px;
    padding: 7.5% 0;
    margin-bottom: 7%;
}

footer{
    background-color:  hsl(216, 53%, 9%);
    padding: 0 0 0 10%;
    margin-top: -2%;
    font-size: 0.9rem;
    }


.location, .call, .email{
    display: flex;
    flex-direction: row;
}

.address{
    width: 10%;
    height: 15%;
}

#logo{
    width: 45%;
    height: 45%;
    margin: 75% 0 12% 0;
}

#call, #email{
    width: 5%;
    height: 5%;
}

#email{
    margin-bottom: 15%;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
}

.footerp{
    text-align: left;
}

#icons{
    margin: 18% 0 0 30%;
    padding-bottom: 15%;
}

i{
    color: #FFF;
    font-size: 0.8rem;
    margin: 1%;
}

.fa-brands.fa-facebook-f{
    border: 1px #fff solid;
    border-radius: 100px;
    padding: 6px 8px;
}

.fa-brands.fa-twitter{
    border: 1px #fff solid;
    border-radius: 100px;
    padding: 6px;
}

.fa-brands.fa-instagram{
    border: 1px #fff solid;
    border-radius: 100px;
    padding: 6px;
}